@import "./bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@media(min-width:576px){
    .navbar-nav{
        li{
            a{
                color: white;
                &:hover{
                    color: $warning
                }
            }
        }
    }
    .navbar-toggler{
        margin-top: 1rem;
    }
    .offcanvas{
        opacity:80%;
        .offcanvas-header{
            h1 {
                color: $warning;
                font-family: "Playpen", cursive;
                font-size: 2em;
                font-weight: 800;
            }
        }
    }
}

@media(max-width:575.9px){
    .navbar-toggler{
        margin-top: 0.5rem;
    }
    .navbar-nav{
        justify-content: center;
        align-items: start;
        li{
            a{
                color: white;
                font-size: 1.2em;
                &:hover{
                    color: $warning;
                }
            }
        }

    }
    .offcanvas{
        opacity: 90%;
    }
    .offcanvas-header{
        flex-direction: column;
        h1{
            color: $warning;
            font-family: "Playpen" , cursive;
            font-size: 2em;
            font-weight: 800;
        }
    }
}

